body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  width: 1440px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5A5A5A;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  height: 80px;
  box-sizing: border-box;
}

.header-div {
  padding-top: 1rem;
}

.header-div img {
  height: 3.5em;
}

.header-nav {
  width: 1000px;
  margin-right: 5rem;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.ul-nav li {
  margin-right: 2rem;
}

.ul-nav a:hover {
  background-color: #3E3E3E;
  color: #fff;
  border-radius: 11px;
}

.ul-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  padding: .35em .5rem .35em 1rem;
}

.ul-nav button {
  background-color: #3E3E3E;
  color: #fff;
  padding: .35em .5rem .35em 1rem;
  border-radius: 11px;
  border: 1px solid rgba(0,0,0,.05);
}
