/* Global Setting */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* menu */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5a5a5a;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  height: 95px;
  box-sizing: border-box;
}

.header-div {
  padding-top: 1rem;
}

.header-div img {
  height: 3.5em;
}

.header-nav {
  width: 95rem;
  margin-right: 5rem;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.ul-nav li {
  margin-right: 2rem;
}

.ul-nav a:hover {
  background-color: #3E3E3E;
  color: #fff;
  border-radius: 11px;
}

.ul-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  padding: .35em .5rem .35em 1rem;
}

.ul-nav button {
  background-color: #3E3E3E;
  color: #fff;
  padding: .35em .5rem .35em 1rem;
  border-radius: 11px;
  border: 1px solid rgba(0, 0, 0, .05);
  width: 100px;
}

.search-bar {
  margin-bottom: 10px;
}

.search-bar input {
  padding: 1rem;
  border-radius: 11px;
  width: 226px;
  padding-left: 3rem;
}

.search-bar i {
  position: relative;
  left: 16px;
  font-size: 20px;
  top: 35px;
}

/*latest articles*/
.heading-article {
  position: absolute;
  top: 120px;
  margin-bottom: 25px;
  width: 40%;
  text-align: center;
  z-index: 99;
  height: 120px;
  margin-left: 30%;
  margin-right: 30%;
}

.heading-article h1 {
  width: 50%;
  background: #000;
  color: #fff;
  margin: auto;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container article {
  padding: 10em 5vw 7em;
}

.grid-container article:nth-child(1) {
  background-color: #505050;
}

.grid-container article:nth-child(2) {
  background-color: #555;
}

.grid-container article:nth-child(3) {
  background-color: #333;
}

.grid-container article:nth-child(4) {
  background-color: #444;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item figure {
  float: left;
}

.grid-item img {
  transform: rotate(-20deg);
  border: 5px solid #fff;
  border-radius: 8px;
  width: 70px;
  transition: transform 0.2s;
  box-shadow: 0 40px 35px -25px rgb(0, 0, 0);
}

.grid-item img:hover {
  transform: rotate(0deg);
}

.grid-item p {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 2rem;
  color: #fff;
}

.grid-item span {
  font-style: italic;
}

.grid-item h2 a:nth-child(1) {
  font-size: 2.7rem;
}

.grid-item h2 a:nth-child(2) {
  font-size: 1rem;
}

.grid-item a {
  text-decoration: none;
  color: #fff;
}

.grid-item ul {
  list-style: none;
}

/* About Membership */
.membership {
  height: 432px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.5em 0;
  margin-bottom: 0;
  padding: 3.125rem 8.4375rem;
  background: #202020;
  color: white;
  position: relative;
}

.about-membership {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 100%;
  font-size: 1.1rem;
  line-height: 1.7;
}

.about-membership button {
  padding: 1.125rem 1.4375rem;
  font-size: 1.3rem;
  font-weight: bold;
  width: 68%;
  border-radius: 10px;
  background-color: #939387;
}

.about-membership button:hover {
  background-color: #939393;
}

.mascot {
  border-style: none;
  position: absolute;
  left: 840px;
  top: -130px;
  filter: grayscale(100%);
  transform: scale(0.8);
  transform: rotate(-20deg);
  transform-origin: bottom left;
  transition: transform 0.2s;
}

.mascot:hover {
  transform: scale(0.8);
  transform: rotate(0deg);
  transform-origin: bottom left;
}

/* Latest post */
.latest-post {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #F4F4F4;
  padding-top: 25px;
}

.post {
  width: 32%;
  line-height: 1.7;
  transition: transform 0.2s;
}

.counter-post {
  padding: 1.5rem 2rem;
}

.post h2 {
  text-decoration: underline;
}

.post .date {
  color: gray;
  font-size: 0.8rem;
}

.post .author {
  color: gray;
  font-size: 1.2rem;
  text-decoration: underline;
}

.post i {
  margin-top: 50px;
  transform: scaleX(1.5);
}

.post:hover .arrow {
  padding: 2.5rem 3.5rem;
  background: #5E5E5E;
  box-sizing: border-box;
  margin-left: -2.5rem;
  color: white;
}

.post:hover {
  transform: scale(1.05);
  background: white;
}

.counter-post:hover {
  transform: scale(calc(1 / 1.05));
}

/* Supporters section */
.supporters {
  width: 385px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 11px;
  padding: 2em 2em;
}

.supporters p {
  text-align: center;
}

.supporters img {
  width: 175px;
  height: 30px;
}

.supporters button {
  font-size: 0.8rem;
  padding: 10px 14px;
  width: 160px;
  border-radius: 5px;
  color: white;
  background-color: gray;
  border: 0;
}

.supporters button:hover {
  background-color: #000000;
}

/* Users and login section*/
.users img {
  width: 258px;
  height: 290px;
  filter: grayscale(100%);
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3D3D3D;
  width: 450px;
  height: 745px;
  padding: 30px;
  box-sizing: border-box;
  color: white;
}

.users h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

.users p {
  text-align: center;
  line-height: 1.7;
  font-size: 1.2rem;
}
